
<web-app>
	<display-name>API PROJECT</display-name>

	<servlet>
		<servlet-name>Restapi</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>

	</servlet>

	<servlet-mapping>

		<servlet-name>Restapi</servlet-name>
		<url-pattern>/</url-pattern>

	</servlet-mapping>


</web-app>